---
---

/* Importing any necessary CSS files */
@import "palettes";
@import "theme";
@import "mixins";

/* Styles for the gallery */
.gallery_Journal {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* Adjust as needed */
  margin-bottom: 40px; /* Adjust as needed */

  /* Styles for individual gallery items */
  .gallery_item {
    /* No specific styles defined here */
  }

  /* Styles for square layout */
  &[data-style="square"] {
    .gallery_item {
      position: relative;
    }

    .gallery_item:before {
      content: "";
      display: block;
      padding-top: 100%; /* Maintain aspect ratio for square layout */
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* Media queries for responsiveness */
  @media (min-width: 768px) {
    .gallery_Journal {
      grid-template-columns: repeat(3, 1fr); /* Three columns on tablets and larger screens */
    }
  }

  @media (max-width: 767px) {
    .gallery_Journal {
      grid-template-columns: repeat(2, 1fr); /* Two columns on smaller screens */
    }
  }

  @media (max-width: 480px) {
    .gallery_Journal {
      grid-template-columns: 1fr; /* Single column on phones */
    }
  }

  /* Styles based on number of items */
  &[data-number="2"] {
    grid-template-columns: 1fr 1fr;
  }

  &[data-number="1"] {
    grid-template-columns: 1fr;
  }
}