---
---

@import "palettes";
@import "theme";
@import "mixins";

.gallery {
  display: grid;
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  @include big-margins;
  @include trim-v-margins;

  // Default gallery item styling
  .gallery_item {
    position: relative;
    
    img {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: transform 0.3s ease-in-out;
      
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  // Custom research layout
  &[data-style="research-layout"] {
    grid-template-columns: repeat(2, 1fr); // 2 columns by default

    .gallery_item {
      // Reset some styles if needed
      grid-column-end: span 1;
    }

    .gallery_item:nth-child(-n+2) {
      // Make the first two items span two columns
      grid-column: span 2;
    }

    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr); // Keep it to 2 columns for simplicity
    }

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $phone) {
      grid-template-columns: 1fr;
    }
  }
}
