---
---

/* Importing any necessary CSS files */
@import "palettes";
@import "theme";
@import "mixins";

/* Styles for the gallery */
.gallery_Journal {
  display: grid;
  grid-gap: 20px; /* Adjust the gap between rows as needed */
  justify-content: center;
  align-items: center;
  margin-top: 40px; /* Adjust as needed */
  margin-bottom: 40px; /* Adjust as needed */

  /* Styles for individual gallery items */
  .gallery_item {
    /* No specific styles defined here */
  }

  /* Styles for square layout */
  &[data-style="square"] {
    .gallery_item {
      position: relative;
    }

    .gallery_item:before {
      content: "";
      display: block;
      padding-top: 100%; /* Maintain aspect ratio for square layout */
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .overlay-text {
      position: absolute;
      bottom: 10px; /* Adjust as needed */
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
      padding: 5px 10px; /* Adjust padding as needed */
      border-radius: 5px; /* Add rounded corners */
      font-size: 14px; /* Adjust font size as needed */
    }
  }

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $phone) {
    grid-template-columns: 1fr !important;
  }

  &[data-number="2"] {
    grid-template-columns: 1fr 1fr;
  }

  &[data-number="1"] {
    grid-template-columns: 1fr;
  }
}