---
---

@import "palettes";
@import "theme";
@import "mixins";

.gallery {
  display: grid;
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  @include big-margins;
  @include trim-v-margins;

  //Paniz add 03-01 for text
.overlay-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Set text color to black */
  font-size: 18px; /* Adjust font size as needed */
  font-weight: bold; /* Add bold font weight */
  text-align: center; /* Center align text */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease; /* Add transition effect */
}

.transition-line {
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black; /* Set transition line color */
  bottom: -5px; /* Adjust line position relative to text */
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease; /* Add transition effect */
}

.overlay-container:hover .transition-line {
  width: 100%; /* Expand the line on hover */
}
//Paniz add 03-01 for text

  .gallery_item {
    // box-shadow: $shadow;
  }

  &[data-style="square"] {
    .gallery_item {
      position: relative;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;

        // Apply border-radius to make the image round
        object-fit: cover;
        border-radius: 50%;    //Paniz add 03-01
        
      }
    }
  }

  //Paniz add 03-01
  &[data-style="square"] {
    .gallery_item {
      position: relative;

      &:before {
        content: "";
        display: block;
        padding-top: 100%; // This creates a square aspect ratio
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
//Paniz add 03-01

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $phone) {
    grid-template-columns: 1fr !important;
  }

  &[data-number="2"] {
    grid-template-columns: 1fr 1fr;
  }

  &[data-number="1"] {
    grid-template-columns: 1fr;
  }
}
