<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

{%- assign emptyarray = "" | split: "," -%}
{%- assign id = include.id | default: "" -%}
{%- assign citations = site.data.citations | default: emptyarray -%} 

{%- assign citation = nil -%}
{%- for c in citations -%}
  {%- if c.id == id -%}
    {%- assign citation = c -%}
  {%- endif -%}
{%- endfor -%}

{%- assign link = citation.link | default: "" -%}
{%- assign image = citation.image | default: "" -%}
{%- assign title = citation.title | default: "" -%}
{%- assign authors = citation.authors | default: emptyarray -%}
{%- assign publisher = citation.publisher | default: "" -%}
{%- assign date = citation.date | default: "1900-01-01" -%}
{%- assign tags = citation.tags | default: emptyarray -%}
{%- assign charge = citation.charge | default: "" -%}
{%- assign charge_profile_url = citation.charge_profile_url | default: "" -%}
{%- assign repo = citation.repo | default: "" -%}
{%- assign extra-links = citation.extra-links | default: emptyarray -%}

{%- assign rich = false -%}
{%- if include.style == "rich" -%}
  {%- assign rich = true -%}
{%- endif -%}

{%- assign placeholder = "images/placeholder.svg" | relative_url -%}

<div class="citation" data-style="{{ include.style }}">
  {%- if rich -%}
    <div class="citation_image">
      <a href="{{ link }}">
        <img
          src="{{ image | relative_url }}"
          onerror="this.src = '{{ placeholder }}'; this.onerror = null;"
          data-tooltip="{{ id }}"
          loading="lazy"
        >
      </a>
    </div>
  {%- endif -%}

  <div class="citation_text">
    <div class="citation_title">
      <a href="{{ link }}">
        {{ title }}
      </a>
    </div>
    <div
      class="citation_authors {% if rich %}truncate{% endif %}"
      {% if rich %}tabindex="0"{% endif %}
    >
      {{ authors | join: ", " }}
    </div>
    <div class="citation_details">
      {{ publisher }}&nbsp; · &nbsp;{{ date | date: "%d %b %Y" }}
    </div>
    {%- if charge and charge_profile_url -%}
        <div class="citation_charge">
            In Charge: <a href="{{ charge_profile_url }}">{{ charge }}</a>
        </div>
    {%- endif -%}
    {%- if repo -%}
        <div class="citation_repo">
            Repository: <a href="{{ repo }}" target="_blank">GitHub Repo</a>
        </div>
    {%- endif -%}
    {%- if rich -%}
      {%- include tags.html tags=tags repo=repo -%}
      <div class="citation_links">
        {%- for extra in extra-links -%}
          {%- assign type = extra.type | default: "" -%}
          {%- assign icon = extra.icon | default: "" -%}
          {%- assign text = extra.text | default: "" -%}
          {%- assign link = extra.link -%}
          {%- include link.html type=type icon=icon text=text link=link -%}
        {%- endfor -%}
      </div>
    {%- endif -%}  
</div>

<!-- Optional metrics badges for Altmetric and Dimensions, uncomment if needed -->
<!-- <div data-badge-popover="left" data-badge-type="medium-donut" data-doi="{{ id }}" data-hide-no-mentions="true" class="altmetric-embed"></div> -->
<!-- <div class="__dimensions_badge_embed__" data-doi="{{ id }}"></div> -->

</div>
