<div class="citation" data-style="{{ include.style }}">
  {%- if rich -%}
    <div class="citation_image">
      <a href="{{ link }}">
        <img
          src="{{ image | relative_url }}"
          onerror="this.src = '{{ placeholder }}'; this.onerror = null;"
          data-tooltip="{{ id }}"
          loading="lazy"
        >
      </a>
    </div>
  {%- endif -%}

  <div class="citation_text">
    <div class="citation_title">
      <a href="{{ link }}">
        {{ title }}
      </a>
    </div>
    <div
      class="citation_authors {% if rich %}truncate{% endif %}"
      {% if rich %}tabindex="0"{% endif %}
    >
      {{ authors | join: ", " }}
    </div>
    <div class="citation_details">
      {{ publisher }}&nbsp; · &nbsp;{{ date | date: "%d %b %Y" }}
    </div>
    {%- if rich -%}
      {%- include tags.html tags=tags repo=repo -%}
      <div class="citation_links">
        {%- for extra in extra-links -%}
          {%- assign type = extra.type | default: "" -%}
          {%- assign icon = extra.icon | default: "" -%}
          {%- assign text = extra.text | default: "" -%}
          {%- assign link = extra.link -%}
          {%- include link.html type=type icon=icon text=text link=link -%}
        {%- endfor -%}
      </div>
      
      {# Add the new sections here #}
      {%- if citation.person-in-charge -%}
      <div class="citation_person_in_charge">
        Person in Charge: <a href="/teams/{{ citation.person-in-charge | slugify }}">{{ citation.person-in-charge }}</a>
      </div>
      {%- endif -%}

      {%- if citation.project-url -%}
      <div class="citation_project_url">
        Project Repo: <a href="{{ citation.project-url }}" target="_blank">Repository Link</a>
      </div>
      {%- endif -%}

    {%- endif -%}  
  </div>
</div>
