<div class="feature">
  <a 
    {% if include.link %}href="{{ include.link | relative_url }}"{% endif %}
    class="feature_image"
  >
    <!--<img src="{{ include.image | relative_url }}" loading="lazy" /> --> <!--Paniz changed 02-29-->
    <img src="{{ include.image | relative_url }}" loading="lazy" style="width: 100%; height: auto;" />  
  </a>
  <div class="feature_text">
    {%- if include.headline -%}
      <p class="feature_headline">{{ include.headline }}</p>
    {%- endif -%}
    {{ include.text | markdownify }}
  </div>
</div>

