{%- assign max = 0 -%}

{%- for i in (1..100) -%}
  {%- assign image = "image" | append: i -%}
  {%- assign image = include[image] -%}
  {%- if image -%}
    {%- assign max = i -%}
  {%- endif -%}
{%- endfor -%}

<div class="gallery" data-style="{{ include.style }}" data-number="{{ max }}">
  {%- for i in (1..100) -%}

    {%- assign image = "image" | append: i -%}
    {%- assign image = include[image] -%}
    {%- assign tooltip = "tooltip" | append: i -%}
    {%- assign tooltip = include[tooltip] -%}
    {%- assign link = "link" | append: i -%}
    {%- assign link = include[link] -%}
    {%- assign tooltip_class = "tooltip_class" | append: i -%}  {# New line to get the class for each tooltip #}

    <!--- 

    {%- if image -%}
      <a
        {% if link %}href="{{ link | relative_url }}"{% endif %}
        class="gallery_item"
        data-tooltip="{{ tooltip }}"
      >
        <img src="{{ image | relative_url }}" loading="lazy">
      </a>
    {%- endif -%}

    --> 
    <!-- Paniz changed 03-01 -->

    {%- if image -%}
    <div class="gallery_item">
      <a {% if link %}href="{{ link | relative_url }}"{% endif %}>
        <img src="{{ image | relative_url }}" loading="lazy">
        <!-- <div class="overlay-text">{{ tooltip }}</div> --> <!-- This line adds the tooltip text overlay --> 
        <div class="overlay-text {{ include[tooltip_class] }}"> <!-- Modified line to include the class dynamically -->
          {{ tooltip }}
        </div>
      </a>
    </div>
    {%- endif -%}

  {%- endfor -%}
</div>
