<div class="post_excerpt">
  <div class="featured-image-container">
    {% if include.image %}
      <img src="{{ include.image | relative_url }}" alt="{{ include.title }}" class="featured-image">
    {% endif %}
  </div>

  <div class="excerpt-content"></div>
    <p>
      <a href="{{ include.url | relative_url }}">{{ include.title }}</a>
    </p>
    {%
      include post-info.html
      author=include.author
      member=include.member
      tags=include.tags
      date=include.date
    %}

    <p>
      {{ include.content | strip_html | truncate: 500 }}
    </p>
</div>
